//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
//npm.fontawesome.com/:_authToken=7EFBD724-1235-48C2-8535-BE6F147784D0
@delhivery:registry=https://npm.pkg.github.com/
@foxtrotplatform:registry=https://npm.pkg.github.com/
@fontawesome:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
